* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  min-height: 0;
	padding: 2px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.9);
}

#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#backlight {
  padding: 3px 5px;
  margin: 4px 4px;
  border-top: 2px solid #181825;
}

#workspaces button.active {
  color: #f5c2e7;
}

#workspaces button:hover {
  color: #f9e2af;
}

#clock {
  color: #f9e2af;
}

#cpu {
  color: #a6e3a1;
}

#memory {
  color: #eba0ac;
}

#network {
  color: #89dceb;
}

#battery {
  color: #f5c2e7;
}

#battery.charging,
#battery.plugged {
  color: #a6e3a1;
}

#battery.critical {
  color: #f38ba8;
}

#backlight {
  color: #fab387;
}

#pulseaudio {
  color: #b4befe;
}

#pulseaudio.muted {
  color: #6c7086;
}
