#lock {
  background-image: url("./icons/lock.svg");
}

#logout {
  background-image: url("./icons/logout.svg");
}

#suspend {
  background-image: url("./icons/suspend.svg");
}

#hibernate {
  background-image: url("./icons/hibernate.svg");
}

#shutdown {
  background-image: url("./icons/shutdown.svg");
}

#reboot {
  background-image: url("./icons/reboot.svg");
}

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(30, 30, 46, 0.9);
}

button {
  border-color: #b153a7;
  border-style: solid;
  border-width: 3px;
  border-radius: 0px;
  background-color: #181825;
  margin: 5px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;

  background-position: center 35%;
  padding-top: 45px;
}

button:focus,
button:active,
button:hover {
  background-color: rgb(48, 50, 66);
  border-color: #b153a7;
  outline-style: none;
}
