#lock {
  background-image: url("./icons/lock.svg");
}

#logout {
  background-image: url("./icons/logout.svg");
}

#suspend {
  background-image: url("./icons/suspend.svg");
}

#hibernate {
  background-image: url("./icons/hibernate.svg");
}

#shutdown {
  background-image: url("./icons/shutdown.svg");
}

#reboot {
  background-image: url("./icons/reboot.svg");
}

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(30, 30, 46, 0.9);
}

button {
  border-color: #89b4fa;
  background-color: #181825;
  background-size: 25%;
  margin: 5px;
}

button:focus,
button:active,
button:hover {
  background-color: rgb(48, 50, 66);
  outline-style: none;
}
